/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,600&display=swap');

/* react bootstrap link */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* styling of the body */
body {
  font-family: 'Poppins', sans-serif;
}

/* styling of the container */
.app-container {
  text-align: center;
  max-width: 500px;
  height: 400px;
  background: #ecd2f3;
  box-shadow: 1px 1px 36px #ddc5c5;

  /* styling of the webpage title */
  h1 {
    font-size: 34px;
    font-weight: 500;
  }

  /* styling of the button */
  button {
    width: 115px;
    height: 40px;
  }

  /* styling of the input */
  .form-field {
    max-width: 400px;
  }
}